# --------------------------
# Python cache & compiled files
# --------------------------
__pycache__/
*.py[cod]
*.so
yfinance_cache/

# --------------------------
# Virtual environments
# --------------------------
venv/
env/
.venv/
.env/

# --------------------------
# Package distribution
# --------------------------
build/
dist/
*.egg-info/

# --------------------------
# Logs and temporary files
# --------------------------
*.log
*.tmp
*.bak

# --------------------------
# Project data outputs
# --------------------------
data/
models/
notebooks/__pycache__/

# --------------------------
# Jupyter Notebook checkpoints
# --------------------------
.ipynb_checkpoints/

# --------------------------
# IDE & system files
# --------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# --------------------------
# Environment
# --------------------------
*.env
*.json
*.yaml
*.yml
*.db

# --------------------------
# --------------------------
site-packages/
